/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.center-text {
  text-align: center;
}